* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.characterDetails {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.clickMain {
  align-items: center;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.firstColumn {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondColumn {
  flex: 1;
  line-height: 35px;
  margin-right: 100px;
}

.characterInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.characterName {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 45px;
}

@media (max-width: 1000px) {
  .characterName {
    margin-top: 20px;
  }
  .firstColumn {
    margin-top: -65px;
  }
  .secondColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
}
