* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.character-box {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.description {
  padding: 20px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.characterName {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.together {
  margin-top: 20px;
  line-height: 1.5;
}
